.add-service form label {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}
.add-service {
  margin: auto;
  width: 40%;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#input-heading {
  text-align: left !important;
}
.add-service form input,
textarea {
  /* width: 50%; */
  margin-bottom: 10px;
}
